@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.personal-info-component{
  display: flex;
  flex-direction: row;
}

.personal-info-component img{
  height: 38px;
  width: auto;
  padding-right: 10px;
}

.hidden{
  display:none;
}

.visible{
  display:flex;
}

.chat-response{
  background: linear-gradient(-45deg, #f6d365, #fda085, #a8edea, #d4fc79);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

.time-component .chat-response{
  margin-top: 17px;
}





/*chat-bot*/
#query-section {
    position: fixed;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(248, 248, 248); */
    /* padding: 15px; */
    border-radius: 15px;
    z-index: 1000;
    width: 100%;
    /* max-width: 600px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(-45deg, #f6d365, #fda085, #a8edea, #d4fc79);
/* background-size: 400% 400%; */
/* animation: gradientBG 15s ease infinite; */
display: flex;
flex-direction: column;
align-items: center;
/* min-height: 100vh; */
margin: 0;
padding: 20px;
font-family: Arial, sans-serif;

}
#query-section input {
    width: calc(100% - 110px);
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
#query-section button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: white;
}


.service-options{
  padding-left: 7%;
}

.service-options button{
  width: 90%;
}